<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Game</title>
</head>

<body bgcolor="#55c233" style="height: 100%; overflow: hidden;">
    <script src="/static/scripts/mouse.js"></script>
    <IMG STYLE="position:absolute; TOP:40px; LEFT:1000px; WIDTH:50px; HEIGHT:50px" SRC="/static/sui.gif">
</body>

</html>