<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Game</title>
</head>

<body bgcolor="#55c233" style="height: 100%; overflow: hidden;">
    <style type="text/css">
        #sui { position: relative; top: 1000px; left: 1000px; }
    </style>    
       <script type="text/javascript">
      var total_height=window.screen.availHeight-100
      var total_width=window.screen.availWidth-100
      
      var h = Math.floor(Math.random() * (total_height - 100) + 1)
      var w = Math.floor(Math.random() * (total_width - 100) + 1)
      document.onmousemove = moveIt;
       
        function moveIt(evnt)
       {
      if( !evnt )
      evnt = window.event
       
      var x = w
      var y = h
       
      var sui = document.getElementById("sui").style;
      
      sui.top = h + "px"
      sui.left = w  + "px"
       
       }
       </script>
       </head>
       <body style="height: 100%; overflow: hidden;">
      <div id="sui">
        <input type="image" src="/static/sui.gif" name="sui" style="width: 50px;height: 50px; opacity: 0.0; filter:alpha(opacity=0);" alt="sui" onclick="window.location.href='/result'"> 
      </div>
      <audio loop src="/static/Siu.mp3" id="myAudio"></audio>
      <button id="play" onClick="playMyAudio()">Click here if your ready!</button>
      <script src="/static/scripts/player.js"></script>
</body>

</html>