<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find The Sui</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body bgcolor="#da0106">
    <h1 class="title">find the</h1>
    <h1 class="siu">siuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</h1>
    <h1 class="info">A fun game made by <a href="https://realhardik18.github.io" style="color:#0ed145;">realhardik18</a></h1>
    <h1 class="info">Inspired by <a href="https://findtheinvisiblecow.com/" style="color:#0ed145;">FindTheInvisibleCow</a></h1><br>
    <button class="button button1" onclick="location.href = '/game';">Play Now!</button><br><br><br><br><br>
    <table class="centre">
        <tr>
            <th><img src="/static/logo.png" alt="logo" width="200" height="200"></th>
            <th>
                <h1><span class="how-to-play">how do i play?</span><br><span class="instructions">move the cursor around the screen<br>the closer you get to Ronaldo, the shouting gets louder<br>try to find him as quick as you can!</span></h1>
            </th>
            <th><img src="/static/logo.png" alt="logo" width="200" height="200"></th>
        </tr>
    </table>
</body>

</html>